<div class="background-image">
                <h2>FX Survey 2018: The trend is your friend…</h2>
                <h6>Friday, March 29, 2019 by Kevin Rogers</h6>
                <br>
                </div>
<div class="container-fluid mt-3">
        <div class="row" >
                <div class="col-1"></div>
                <div class="col-5">
                        <img class="img-responsive" src="assets/images/originalcharts.png">
                </div>
                <div class="col-5">
                        <div [chart]="chart"></div>
                        <div id="container"></div>
                </div>
                <div class="col-1"></div>
        </div>
</div>
                                