<div class="container-fluid mt-2" style="height:100%;" class="pinkbg">
    <div class="row" style="height:100%;">
            <div class="col-1">
                <div style="font-size:35pt;bottom:0;position:absolute;color:orangered">
                    {{innerScroll| number:'1.0-0'}}%
            </div>
            </div>
            <div class="col-5">
                <div class="scroll-progress scroll-progress--absolute">
                    <div class="scroll-progress__indicator" [style.width.%]="innerScroll">
                        <br />
                    </div>
                </div>
                <div (scrollPercentage)="recordInnerScroll( $event )" class="inner__content" [innerHTML]="dataService.articleChartData().content | keepHtml">

                </div>
            </div>
            <div class="col-5" style="height:100%;padding:0" >
                <div id="mapDiv" #mapViewNode>
                  </div>
            </div>
            <div class="col-1"></div>
    </div>
</div>

<!-- <div id="mapDiv" #mapViewNode>
  </div> -->