<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="navbar-collapse" id="navbarNav">

        <a class="navbar-brand text-light">Euromoney - Immersive Article </a>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto pr-5">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/original']">Original</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/design1']">Design 1</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/design2']">Design 2</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/design3']">Design 3</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/design4']">Design 4</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/design5']">Design 5</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/design6']">Design 6</a>
                </li>
            </ul>
            <!-- <i class="fa fa-sm fa-user-circle colorOrange pr-1"></i><span class="pr-2 text-light">{{user.userName}}</span> -->
            <i class="fa fa-sm fa-user-circle colorOrange pr-1"></i><span class="pr-2 text-light">Subscribed User</span>
        </div>
    </div>
</nav>