<div class="background-image">
                <h2>FX Survey 2018: The trend is your friend…</h2>
                <h6>Friday, March 29, 2019 by Kevin Rogers</h6>
                <br>
                </div>
<div class="container-fluid">
        <div class="row">
                <div id="article-text" class="col-md" style="max-height: 600px;overflow-y: scroll">
                        <p>
                                Lorem ipsum dolor sit amet, in placerat a pellentesque. Vel ipsum tristique vel
                                sollicitudin. Vehicula in pede eget arcu suspendisse neque, sem nibh consectetuer, proin
                                vitae ut sit fusce, sit ut ut. Habitant non neque odio. Consequatur eu tempor, fringilla
                                montes ultricies tellus nam. Mauris metus, donec eu convallis ante suspendisse, aliquam
                                nunc risus risus non. Maecenas lobortis elementum nullam massa amet blandit, odio
                                elementum vel dis ut eu arcu, euismod augue non nullam. Gravida vivamus, neque curae
                                erat consectetuer, ultrices justo sagittis. Bill Gates owns Microsoft.

                                Vulputate iaculis cursus. Mi dolor erat erat, nec non donec sagittis nunc quis purus,
                                pellentesque ac, leo malesuada at donec. Duis fusce sit imperdiet tincidunt potenti.
                                Nibh interdum purus magna eu donec, eget suspendisse cras ligula wisi elementum ornare,
                                morbi scelerisque aenean ac integer nascetur risus. Ridiculus proin gravida, et sit
                                fringilla, lorem aliquam interdum habitasse arcu. Nonummy cras vestibulum, amet vehicula
                                non tristique risus ullamcorper. Id in sem consectetuer aptent, vitae lacinia id,
                                scelerisque volutpat augue id volutpat egestas. Sem sed vestibulum purus, ipsum lacinia
                                est, quis esse quisque vestibulum, sagittis morbi, vivamus posuere maecenas. Penatibus
                                vel eget non, non vel, varius quam mus. Elementum vestibulum donec est, vehicula eros,
                                sodales nisl cras vel justo mauris, tempus velit integer pellentesque, arcu per eleifend
                                metus ut integer. Arcu ornare, rutrum eget fusce aenean risus congue, dolor arcu vel
                                velit varius et, sem quam aenean luctus morbi lectus vitae, metus fames in ac semper vel
                                rhoncus. Vivamus nec tincidunt id erat porttitor.

                                Nulla nam neque, risus nulla posuere eros viverra consequat tellus, in id felis
                                ultricies ac, sit mauris. Sagittis vitae turpis lorem bibendum, metus elit vel. Et est
                                nam nisl lorem vel, a sodales nec dolor nibh tincidunt quisque, eu mauris lorem delectus
                                suscipit blandit nunc. Nulla sociis fringilla ipsum amet urna pede, rutrum risus, augue
                                maecenas sodales donec, purus placerat lacus consectetuer mauris, tincidunt nec eum
                                tempus. Imperdiet pulvinar pharetra mi, nulla ipsum aliquam vulputate quam. Pulvinar
                                adipiscing morbi justo id reprehenderit vivamus, aliquid sit porttitor pede feugiat
                                porta, venenatis felis a sit cumque, ornare rutrum mauris mauris, malesuada magna hac
                                vitae molestie et porta. Laoreet odio justo sed vestibulum lacus aliquam. Pede quis sit
                                est quam vestibulum sed, mauris ut pede hymenaeos, convallis saepe cras, quis cursus in
                                arcu et diam, maecenas senectus in hymenaeos quis eleifend. Veniam nobis in vivamus
                                mauris tempor nulla, aliquam class integer. Sit tempus eget natoque, suspendisse odio
                                cumque ac, arcu fermentum, lectus id diam massa et. Mus mi lacus aptent sed arcu rutrum,
                                nullam dolor lacus massa nisl laoreet vitae. Mi cursus, ut ipsum praesent ornare
                                faucibus, dui suscipit a, venenatis tempor, condimentum in tellus quam.
                                <br>
                                <br>
                                Vestibulum lacus eleifend ac rutrum in praesent, eleifend mi nulla nibh et libero augue.
                                Fusce sollicitudin libero aliquam lobortis rutrum, arcu porttitor magnis et. Pretium
                                consequat ac platea, sit enim erat a ante in, bibendum habitant quam adipiscing, ipsum
                                at eget laoreet. Vel erat sed quam ante molestie, sapien ante porta nulla nibh
                                pellentesque, leo dui, vestibulum sapien in varius laoreet in feugiat. Lorem dolores
                                non, sed quis vestibulum, etiam in massa luctus quibusdam elit, egestas lectus. Sed
                                litora mauris arcu amet lectus, montes morbi risus interdum.
                                Lorem ipsum dolor sit amet, in placerat a pellentesque. Vel ipsum tristique vel
                                sollicitudin. Vehicula in pede eget arcu suspendisse neque, sem nibh consectetuer, proin
                                vitae ut sit fusce, sit ut ut. Habitant non neque odio. Consequatur eu tempor, fringilla
                                montes ultricies tellus nam. Mauris metus, donec eu convallis ante suspendisse, aliquam
                                nunc risus risus non. Maecenas lobortis elementum nullam massa amet blandit, odio
                                elementum vel dis ut eu arcu, euismod augue non nullam. Gravida vivamus, neque curae
                                erat consectetuer, ultrices justo sagittis. </p>
                </div>
                <div class="col-md entity-list">
                        <div class="entity-panel" *ngFor="let entity of entities">
                                <div class="entity-detail">
                                        <div class="entity-name"><span>{{entity.data.name}}</span></div>
                                        <div class="entity-description"><span>{{entity.data.description}}</span></div>
                                </div>
                                <div *ngIf="entity.data.image">
                                        <img class="entity-image" src="{{entity.data.image.hostPageUrl}}" />
                                </div>
                        </div>
                </div>
        </div>

        <div>

        </div>