<div class="jumbotron">
        <h1 class="display-4">Design 5</h1>
</div>
<div class="container-fluid">
        <div class="row">
                <div (scrollPercentage)="recordInnerScroll( $event )" id="article-text" class="col-md" style="max-height: 600px;overflow-y: scroll">
                        <span *ngFor="let chunk of content" [ngClass]="{'highlight-text': chunk.name!=''}" innerHtml="{{chunk.content}}"></span>
                </div>
                <div class="col-md entity-list">
                        <div *ngIf="loading">Loading...</div>
                        <ng-container *ngFor="let entity of entities" >
                        <div [ngClass]="{'entity-panel': entity.display > 1, 'entity-panel-small': entity.display === 1, 'entity-panel-hidden': entity.display === 0}">
                                <div class="entity-detail">
                                        <div *ngIf="entity.display > 0" class="entity-name"><span>{{entity.data.name}}</span></div>
                                        <div *ngIf="entity.display > 1" class="entity-description"><span>{{entity.data.description}}</span></div>
                                </div>
                                <div *ngIf="entity.data.image" class="entity-image-container">
                                        <img [ngClass]="{'max-height-0': entity.display != 2, 'entity-image': entity.display === 2}" src="{{entity.data.image.hostPageUrl}}" />
                                </div>
                        </div>
                        </ng-container>
                </div>
        </div>

        <div>

        </div>