<div class="background-image">
    <h2>FX Survey 2018: The trend is your friend…</h2>
    <h6>Friday, March 29, 2019 by Kevin Rogers</h6>
    <br>
    </div>
<div>
<div class="container-fluid ttr">
  <div class="row">
    <div class="col-md" style="margin: 40px;overflow-y: scroll">
      <app-article></app-article>
    </div>
    <div class="col-md" style="margin-top: 40px;">

        <div class="tmain {{relatedContent}}">
            <span class="tclosebutton" (click)=onCloseRelatedContent()>X</span>
            <h4>&nbsp;More {{currentWord}} Articles</h4>
            <div class="tspan" *ngFor="let link of relatedLinks">
              <a target="_blank" href="{{link.link}}">{{link.text}}</a>
              <div class="tdate">{{link.date}}</div>
            </div>
          </div>

      <div class="tmainhead {{relatedContentForHead}}">
          <span class="tclosebutton" (click)=onCloseRelatedContent()>X</span>
          <div class="tspan" *ngFor="let link of relatedLinks">
            <img [src]="link.imagelink" width="330">
            <div class="tdescription">{{link.description}}</div>
            <div class="tdate">{{link.date}}</div>
            <a target="_blank" href="{{link.link}}">Read article</a>
          </div> 
      </div>

    </div>
  </div>

  <div>

  </div>
