.ttr {
    overflow:hidden;
    margin: 40px;
}

a {
  
}
.tmain {
//   display: none;
//visibility: hidden;
  position: relative;
  right: -1150px;
  width: 450px;
  height: 600px;
  background-color: rgba(242, 242, 242, 1);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.ttrans {
//   display: block;
//visibility: visible;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  
  right: 10px;
}
    
.tspan {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 10px;
}

.tclosebutton {
  position: relative;
  top: -12px;
  left: 260px;
  cursor: pointer;

}

.close {
    //visibility: hidden;      
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  
    right: -1150px;
}

.matching-word {
  text-decoration:underline;
  color:#D40915;
}

.background-image{
  background-size:cover; 
  width:auto;
  height: 110px;
  background-image:url("../../assets/images/queen-cover.jpg");
  background-position: 50% 40%;
  padding: 30px 150px;
  color: white;
}


.list-container {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
  }

  .column-container{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 75px;
    width: 50%;
  }

  .item-container {
    margin-top: 20px;
    margin-left: 40px;
  }

  .item-quote{
    border-left: 4px solid;
    border-color: red;
    padding-left: 10px;
    font-size: 18pt;
    font-style: italic;
    margin-bottom: 15px
  }

  .item-header{
    font-size: 14pt;
  } 

  .image{
    width: 500px;
    
    -webkit-transition: all linear 0.5s;     
    -moz-transition:all linear 0.5s;     
    -o-transition: all linear 0.5s;     
    transition:all linear 0.5s     
  }
 
