<div class="jumbotron">
  <h1 class="display-4">Design 3</h1>
</div>
<div class="container-fluid ttr">
  <div class="row">
    <div class="col-md" style="max-height: 600px;overflow-y: scroll">
      <app-article></app-article>
    </div>
    <div class="col-md">
      <div class="tmain {{relatedContent}}">
        <span class="tclosebutton" (click)=onCloseRelatedContent()>X</span>
        Related content:
        <div class="tspan" *ngFor="let link of relatedLinks">
          <a href="{{link.link}}">{{link.text}}</a>
        </div>
      </div>


    </div>
  </div>

  <div>

  </div>
