<configuration>
<system.webServer>
<security>	
	 <authentication>
            <anonymousAuthentication enabled="true" />   <!--This line you need-->
            <basicAuthentication enabled="false"/>
            <windowsAuthentication enabled="false" />
          </authentication>	
    
    </security>
<rewrite>
    <rules>
    <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <!-- Ignore the APIs, which sit in the services application in IIS e.g. angular code is in website root, service folder is an IIS application in "services" folder in this website -->
		<add input="{REQUEST_URI}" pattern="^/(services)" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
    </rule>
    </rules>
</rewrite>

<staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
        </staticContent>
        
</system.webServer>
</configuration>